.container {
  display: block;
  border-radius: 10px;
  width: 200px;
  height: 220px;
  background: rgb(0,0,0);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.widget-row {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.sun {
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow);
}

.moon {
  margin-top: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px white);
}

.cloudDiv {
  margin-top: -30px;
}

.cloud {
  color: lightblue;
  filter: drop-shadow(1px 1px 5px lightblue);
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from { margin-left: -55px;}
  to {margin-left: 65px;}
}
